// Import the initial Bulma sass variables
@import "../../../node_modules/bulma/sass/utilities/initial-variables";
// Import the rest of Bulma
@import "../../../node_modules/bulma/bulma";

.toggleSubCategory {

  display: none !important;

}

.header {

  font-weight: bold;

}

.section {

  min-height: 60vh;

}

.card {

  margin-bottom: 24px;

}

.center-heading {

  text-align: center;
  font-size: 54px;

}

.center-text {

  text-align: center;
  cursor: pointer;

}

.accounts {

  color: #ffdd57;

}

.income {

  color: #23d160;

}

.budget {

  color: #00d1b2;

}

.expenses {

color: #ff3860;

}

.left-button {
  position: absolute;
  left: 0;
}

.right-button {
  position: absolute;
  right: 0;
}

.gallery {
  margin-bottom: 0px !important;
  width: 6000px;
}

.gallery-image {
  padding: 40px;
  float: left;
  transition: opacity 0.4s;
  position: relative;

  &:first-child {
    margin-left: 100px;
  }

  &--fade {
    opacity: 0.5;
  }

  &--right {
    position: relative;
    z-index: 9999 !important;
  }

}